.wrapSlider {
    display: flex;
}

.button {
    padding-left: 1rem;
    padding-right: 1rem;
}

.slider {
    height: 5rem;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; /* 스크롤바 삭제 */
    scroll-snap-type: x mandatory;
    height: 100%;
}

/* 변수는 컴포넌트에서 정의 */
.slider > * {
    position: relative;
    flex-basis: var(--item-width);
    flex-shrink: 0;
    width: var(--item-width);
    scroll-snap-align: center;

    filter: blur(.1rem);
    opacity: 0.2;
    transition: opacity 0.3s ease-in-out;
}

.selected {
    opacity: 1.0;
    filter: blur(.0rem);
}

.description {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: 1rem;
}
.symbolName {

}

.date {
    color: var(--disabled-text);
}

/* 스크롤바 삭제 */
.slider::-webkit-scrollbar {
    display: none;
}

