.wrapTeam {
  position: absolute;
  top: 50%;
  right: calc((100svw - var(--max-content-width)) * 0.2 + 40%);

  width: var(--max-introduce-width);

  display: flex;
  flex-direction: column;
  justify-content: center;

  transform: translateY(-50%);
}

@media (max-width: 1200px) {
  .wrapTeam {
    visibility: hidden;
  }
}

.wrapTitle {
  color: var(--primary-text);
  font-weight: 700;
  font-size: 66px;
  line-height: 80px;

  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 100px;
}

.wrapMembers {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.wrapMember {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 1rem;
}

.wrapMemberInfo {
  display: flex;
  gap: 0.5rem;
  align-items: end;
}

.teamName {
  font-size: 3rem;
  font-weight: bold;
  line-height: 0.8;
}

.teamPosition {
  font-size: 1rem;
  color: var(--secondary-color);
}
