@tailwind base;
/*@tailwind components;*/
/*@tailwind utilities;*/

:root {
  --primary-color: #8F39D6;
  --secondary-color: #A191B3;

  --danger-color: #FF416E;
  --disabled-color: #A191B3;

  --primary-text: #A356FB;
  --disabled-text: #B8B8B8;

  --disabled-button: #5C5C5C;
  --modal-background: rgba(22, 22, 22, 0.6);

  /* desktop */
  --max-background-width: 1920px;
  --min-background-width: 270px;

  --max-background-height: 1080px;
  --min-background-height: 480px;

  /* mobile*/
  --max-content-width: 428px;
  --min-content-width: 270px;

  --max-content-height: 926px;
  --min-content-height: 480px;
}

*:not(script, head) {
  /*all: unset;*/
  margin: 0;
  padding: 0;
  color: white;
}

html {
  font-size: 16px;
  background-color: darkblue;
  overflow: hidden;
}

body {
  position: absolute;
  overflow: hidden;
  background-color: black;
  color: cornsilk;

  max-width: var(--max-background-width);
  min-width: var(--min-background-width);
  width: 100svw;
  max-height: var(--max-background-height);
  min-height: var(--min-background-height);
  height: 100svh;

  /*background-image: url(/test_bg.jpg);*/
  background-image: url(/sky_bg_w.png);
  background-position-x: calc(100% + ((var(--max-background-width) - 100svw) * .2));
  background-position-y: top;
  background-repeat: no-repeat;
}

main {
  position: absolute;
  right: calc((100svw - var(--max-content-width)) * 0.2);
  top: 50%;
  transform: translateY(-50%);

  box-sizing: border-box;
  max-width: var(--max-content-width);
  min-width: var(--min-content-width);
  width: 100svw;
  max-height: var(--max-content-height);
  min-height: var(--min-content-height);
  height: 100svh;

  /*background-image: linear-gradient(to bottom, rgba(19, 16, 29, 0.7), rgba(63, 44, 83, 0.2));*/
  /*background-position: center, top center;*/
  /*background-repeat: no-repeat, repeat;*/

  border: 1.5rem solid;
  border-image-source: url(/frame_430_v2.png);
  border-image-slice: 33% 33% 33% 33%;
  border-image-width: 3rem 3rem;
}

@media (max-width: 428px) {
  main {
    right: 0%;
    box-sizing: unset;
    border: unset;
    border-image-source: unset;
  }
}

#decorator {
  position: absolute;
  width: 600px;
  height: 10svh;
}

p {
  word-break: keep-all;
}

/* Track */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.speed-dial-enter {
  opacity: 0;
  transform: translateY(-30%);
}
.speed-dial-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.speed-dial-exit {
  opacity: 1;
}
.speed-dial-exit-active {
  opacity: 0;
  transform: translateY(-30%);
  transition: opacity 300ms, transform 300ms;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  transform: scale(1);
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.modal-content-enter {
  border: 1px solid rgba(255, 255, 255, 0);
}

.modal-content-enter-active {
  border: 1px solid rgba(255, 255, 255, .2);
  transition: transform 300ms;
}

.modal-content-exit {
  border: 1px solid rgba(255, 255, 255, .2);
}

.modal-content-exit-active {
  border: 1px solid rgba(255, 255, 255, 0);
  transition: transform 300ms;
}

.dim-enter {
  opacity: 0;
}

.dim-enter-active {
  opacity: 1;
  backdrop-filter: blur(4px);
  transition: opacity 300ms;
}

.dim-exit {
  backdrop-filter: blur(4px);
  opacity: 1;
}

.dim-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* --delay 는 요소에서 style 로 지정 */
.effectAnimation {
  /*animation: fadeIn 1s ease-in-out;*/
  opacity: 0;
  animation-name: fadeIn, pulse;
  animation-duration: 1s, 2.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
}

/* --delay 는 요소에서 style 로 지정 */
.speakAnimation {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.speakCircle1,
.speakCircle2,
.speakCircle3 {
  animation: fadeInOut 1.5s infinite;
  opacity: 0;
}

.speakCircle1 {
  animation-delay: 0s;
}

.speakCircle2 {
  animation-delay: 0.3s;
}

.speakCircle3 {
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0%,
  30% {
    opacity: 0;
  }
  60%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modal-title {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
}

.modal-content-title {
  font-size: 16px;
  color: #B8B8B8;
}

.modal-content-subtitle {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0em;
  color: #A191B3;
}
