@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SUIT";
  src: url("/fonts/SUITE-Variable.woff2")
}

@layer base {
  html {
    font-family: "SUIT Medium", system-ui, sans-serif;
  }
}

* {
  overflow: hidden;
  color: white;
}

main {
  position: absolute;
  box-sizing: border-box;
  min-height: 480px;
  max-height: 926px;
  height: 100svh;
  min-width: 270px;
  max-width: 428px;
  width: 100%;
  right: calc((100vw - 428px) * 0.2);

  border: cornflowerblue 5px solid;

  background-image: linear-gradient(to bottom, rgba(19, 16, 29, 0.7), rgba(63, 44, 83, 0.2)), url(/BG_Star.png);
  background-position: center, top center;
  background-repeat: no-repeat, repeat;
}

@media (max-width: 428px) {
  main {
    right: 0%;
    box-sizing: unset;
    border: unset;
  }
}

#decorator {
  position: absolute;
  width: 600px;
  height: 10svh;
}

p {
  word-break: keep-all;
}

/* Track */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.speed-dial-enter {
  opacity: 0;
  transform: translateY(-30%);
}
.speed-dial-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.speed-dial-exit {
  opacity: 1;
}
.speed-dial-exit-active {
  opacity: 0;
  transform: translateY(-30%);
  transition: opacity 300ms, transform 300ms;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  transform: scale(1);
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.modal-content-enter {
  border: 1px solid rgba(255, 255, 255, 0);
}

.modal-content-enter-active {
  border: 1px solid rgba(255, 255, 255, .2);
  transition: transform 300ms;
}

.modal-content-exit {
  border: 1px solid rgba(255, 255, 255, .2);
}

.modal-content-exit-active {
  border: 1px solid rgba(255, 255, 255, 0);
  transition: transform 300ms;
}

.dim-enter {
  opacity: 0;
}

.dim-enter-active {
  opacity: 1;
  backdrop-filter: blur(4px);
  transition: opacity 300ms;
}

.dim-exit {
  backdrop-filter: blur(4px);
  opacity: 1;
}

.dim-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* --delay 는 요소에서 style 로 지정 */
.effectAnimation {
  /*animation: fadeIn 1s ease-in-out;*/
  opacity: 0;
  animation-name: fadeIn, pulse;
  animation-duration: 1s, var(--duration);
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
}

/* --delay 는 요소에서 style 로 지정 */
.speakAnimation {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.speakCircle1,
.speakCircle2,
.speakCircle3 {
  animation: fadeInOut 1.5s infinite;
  opacity: 0;
}

.speakCircle1 {
  animation-delay: 0s;
}

.speakCircle2 {
  animation-delay: 0.3s;
}

.speakCircle3 {
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0%,
  30% {
    opacity: 0;
  }
  60%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient {
  background: linear-gradient(270deg, #4d35e1, #9731c7);
  background-size: 200% 200%;
  animation: gradient 10s linear infinite;
}

.modal-title {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0em;
}

.modal-content-title {
  font-size: 16px;
  color: #B8B8B8;
}

.modal-content-subtitle {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0em;
  color: #A191B3;
}

button {
  font-size: 16px;
}