@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
}

/* 테일 윈드에 없는 기능이라서 여기에서 적용합니다. */
main {
  height: 100svh;
}

/* Track */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.speed-dial-enter {
  opacity: 0;
  transform: translateY(-30%);
}
.speed-dial-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.speed-dial-exit {
  opacity: 1;
}
.speed-dial-exit-active {
  opacity: 0;
  transform: translateY(-30%);
  transition: opacity 300ms, transform 300ms;
}

.modal-enter {
  opacity: 0;
  transform: scale(0.9);
}

.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.dim-enter {
  opacity: 0;
}

.dim-enter-active {
  opacity: 0.5;
  backdrop-filter: blur(90px);
  transition: opacity 300ms;
}

.dim-exit {
  backdrop-filter: blur(90px);
  opacity: 0.5;
}

.dim-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* --delay 는 요소에서 style 로 지정 */
.effectAnimation {
  /*animation: fadeIn 1s ease-in-out;*/
  opacity: 0;
  animation-name: fadeIn, pulse;
  animation-duration: 1s, var(--duration);
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards, forwards;
}

/* --delay 는 요소에서 style 로 지정 */
.speakAnimation {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.speakCircle1,
.speakCircle2,
.speakCircle3 {
  animation: fadeInOut 1.5s infinite;
  opacity: 0;
}

.speakCircle1 {
  animation-delay: 0s;
}

.speakCircle2 {
  animation-delay: 0.3s;
}

.speakCircle3 {
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0%,
  30% {
    opacity: 0;
  }
  60%,
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient {
  background: linear-gradient(270deg, #4d35e1, #9731c7);
  background-size: 200% 200%;
  animation: gradient 10s linear infinite;
}
