@keyframes jump {
  0% {
    transform: translateY(100%);
  }
  50% {
    animation-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
    transform: translateY(-10%);
  }
  70% {
    animation-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}

.toastEnter {
  transform: translateY(200%);
}

.toastEnterActive {
  animation: jump 0.2s ease-out;
  transform: translateY(0%);
}

.toastExit {
  transform: translateY(0%);
}

.toastExitActive {
  transform: translateY(200%);
  transition: transform 0.2s;
}
